<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | Sticky Notes</title>
    <link rel="stylesheet" href="/styles/login.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <style></style>
  </head>
  <body>
    <form id="Register" action="/register" method="POST">
      <div id="title">
        <h3>Register</h3>
        <div id="errorContainer">
          <% if (error) { %>
          <div class="error alert">
            <p><%= error %></p>
            <span><i class="fa-regular fa-circle-xmark"></i></span>
          </div>
          <% } %>
        </div>
      </div>
      <label for="username" class="label01">Username</label>
      <input
        type="text"
        placeholder="Username"
        id="username"
        name="username"
        value="<%= username %>"
      />

      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Password"
        id="password"
        name="password"
      />

      <button class="loginBtn" type="submit">Register</button>
      <button class="registerBtn"><a href="/login">Log In</a></button>
    </form>

    <script defer>
      $("#errorContainer").on("click", () => {
        $("#errorContainer").fadeOut();
      });
    </script>
  </body>
</html>
